.next
node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
supabase/.branches
supabase/.temp
*.logabutaher
abutaher.pub
node_modules/
.next/
tsconfig.tsbuildinfo
abutaher
abutaher.pub
*.DS_Store
tsconfig.tsbuildinfo
